
    @font-face {
        font-family: body_font;
        src: url('../font/Nunito-Medium.ttf');
    }
    @font-face {
        font-family: rubik;
        src: url('../font/Rubik-Bold.ttf');
    }
    :root {
    --primary-color: #9B111E;
    --accent-color: #E3B505;
    --background-color: radial-gradient(circle at right, #0a1f2c 0%, #002d40 100%);
    --secondary-color: #0A2342;
    }
  *,
  :root {
    --orange: #e67e22;
    --black: #333;
    --light-color: #777;
    --light: #fff;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p,ul,label,button,select{
    font-family: body_font;
}
h1,h2,header{
    font-family: rubik;
}
a{
    text-decoration: none;
    color:#fff;
}
nav{
    width: 100%;
    padding:10px;
}
nav .logo{
    width:40px;
    height: 40px;
    overflow: hidden;
}
nav .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
main{
    padding:10px;
}
.navigation_bar{
    width: 100%;
    padding:10px;
    display: flex;
    gap:10px;
}
.navigation_bar .item{
background:rgba(123, 212, 235, 0.829);
border-radius: 10px;
padding:5px;
}
.navigation_bar .item.active{
background:rgba(240, 163, 227, 0.699);
}
.navigation_bar .item p{
    font-size: 20px;
    color:rgb(7, 86, 177);
    font-weight: bolder;
}
.navigation_bar .item.active p{
    color:rgb(255, 0, 106);
}
.container .posts-container .post .date {
    padding-top: 2rem;
    font-size: 1.5rem;
    color: var(--orange);
    display: flex;
    gap:10px;
    align-items: center;
  }
.container .posts-container .post{
    position: relative;
}
.container .posts-container .post::before{
    content: "";
    position: absolute;
    inset:0;
    width: 100%;
    height: 100%;
    background: url('../../partnership/rect_15_mob.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

  .container .posts-container .post .date img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .container .posts-container .post p {
    font-size: 20px;
    line-height: 1.7;
    padding: .51rem;
  }
  .container .posts-container .post p span{
    background: rgb(24 22 23 / 7%);
    border-radius: 4px;
    padding:3px;
  }
  
  .container .posts-container .links {
    border-top: var(--border);
    margin-top: 0.5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  .container .posts-container .links .user {
    margin-right: auto;
  }
  
  .container .posts-container .links .icon {
    padding-right: 1rem;
  }
  
  .container .posts-container .links a {
    font-size: 1.5rem;
    color: var(--light-color);
  }
  
  .container .posts-container .links a i {
    padding-right: 0.2rem;
    color: var(--black);
  }
  
  .container .posts-container .links a:hover {
    color: var(--orange);
  }
  
  .container .posts-container .links a:hover i {
    color: var(--orange);
  }
article h2{
    font-size: 60px;
}
article p{
    font-size: 20px;
    margin-bottom: 10px;
}
article .quote{
    border-left: 5px solid red;
    padding-left:10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-block: 10px;
}
article .quote p{
    font-weight: bolder;
}
article .list h1{
font-weight: bolder;
}
article .list ul{
    padding-left: 5px;
    list-style: numeric;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 600px;
}
article .list_link ul{
    list-style: disc;
    padding-left: 20px;
    margin-block: 20px;
}
article .list_link ul li a{
    color: #000;
    text-decoration: underline;
}
article .list ul li,.list_link ul li{
    margin:10px;
    font-size: 18px;
    font-weight: bolder;
}
.article_banner_img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
}
.article_banner_img p{
    text-align: center;
    color:#2e2d2d;
}
.article_banner_img img{
    width: 100%;
    height: calc(100% - 30px);
    object-fit: cover;
}
.article_image{
    width: 100%;
    height: 600px;
    margin-top:20px;
    position: relative;
    overflow: hidden;
}
.article_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.article_image .details{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color:#fff;
    background: linear-gradient(179deg, #00000049, #00000049);
    box-shadow: 0px -20px 15px 18px #00000049;
}
.article_image .details h1{
    max-width: 80%;
    margin-bottom: 30px;
    font-size: 35px;
}
.authorship{
    display: flex;
    gap:20px;
    margin:10px;
}

.authorship .feild label{
    font-size: 18px;
}
.author_data{
    display:flex;
    align-items: center;
    height: fit-content;
    padding-block: 5px;
    gap:10px;
}
.authorship .feild  p{
    font-size: 22px;
}
.author_data img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

header{
    font-size: 30px;
    font-weight: bolder;
}

.page_content{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap:20px;
}
.page_content .content{
    padding-block: 30px;
    padding-inline: 5px;

}
.page_content .top_stories{
    width: 100%;
    overflow: hidden;
}
.social_links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:10px;
    margin-block: 20px;
}
.social_links .icons{
    display: flex;
    align-items: center;
}
.social_links .icons .box{
    display: grid;
    place-items: center;
}
.chapter-title p {
  font-size: 25px;
  font-weight: 900;
  background: linear-gradient(to right, #2c3e50, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chapter-sub p {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 4px 12px;
  font-size: 18px;
  font-weight: bold;
}
.article_posts{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:20px;
}

.article_posts .post img.blog{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.article_posts .post h1{
    font-size: 20px;
    margin-block:10px;
    color:#000;
}
.article_posts .post p{
    font-size: 17px;
}
.article_posts .post .fade_p{
    color:#1f1e1e;
}

.author_data.min{
    display: none;
}

footer .social_links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
}
footer .social_links a{
    padding: 10px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 0.3s ease;
}
footer .social_links a:hover{
    transform: translateY(-10px);
}
footer {
  overflow: hidden;
  width: 100%;
  margin-top:30px;
  background:var(--background-color);
}
footer .container {
  width: 100%;
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    background:var(--background-color);
  gap: 20px;
  color: #fff;
  padding: 40px;
}
footer .container .brand header {
  font-size: 23px;
  min-height: 0px;
}
footer .container .brand ul,
footer .container .links ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
}

footer .container .links ul{
    flex-direction: column;
}
footer .container .field ul {
  width: 100%;
  margin-top: 10px;
  list-style: none;
  display: block;
}
footer .container .brand ul li {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 2px solid #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
footer .container .field ul li {
  margin-block: 10px;
}
footer .container .field ul li span {
  text-decoration: underline;
}
footer .container .links{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .container .links ul li {
  margin:0px;
}
footer .container .links ul {
  margin-bottom: 10px;
}
footer a{
    color:#fff;
}
@media screen and (max-width:1024px) {
    .page_content{
        grid-template-columns: 1fr;
    }
    .article_posts{
        grid-template-columns: 1fr 1fr;
    }
     footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap:20px;
        column-gap: 50px;
    }
    footer .container .brand {
        width: 100%;
        grid-column: 1;
        text-align: start;
    }
}

@media screen and (max-width:600px) {
    .article_image {
        height: auto;
    }
    article h2 {
        font-size: 45px;
    }
    article .list h1{
        font-size: 20px;
    }
    article p {
        max-width: 100%;
    }
    .article_image .details{
        background: none;
        box-shadow: none;
    }

    .article_image .details {
        color: #000;
    }
    .article_image .details{
        position: relative;
        padding: 0px;
    }
    .article_image .details h1{
        font-size: 23px;
        max-width: 100%;
        margin-bottom:10px;
    }
    header {
        margin-block: 20px;
    }
    .authorship{
        margin: 0px;
    }
   .authorship .feild{
    display:none;
   }
   .author_data.min{
    display: flex;
   }
   footer .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap:30px;
        column-gap: 0px;
        padding: 10px;
    }
}
@media screen and (max-width:500px) {
    
    .article_posts{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:320px) {
    article .list ul{
        grid-template-columns: 1fr;
    }
}
